/* about me page */
.about-me-container {
  width: 96vw;
  height: 30vh;

  margin: 2.6vh 1vw;

  background-color: var(--background-color-2);
  text-wrap: balance;

  text-align: center;
}

.my-img {
  height: 26vh;
  padding: 2vh;
  float: left;
}

#about-me-para {
  color: var(--text-color-1);
  font-weight: 800;
  padding: 2vh;
  font-size: 20px;
}

/* my hobbies */

.hobby-container {
  display: flex;
  flex: content;
  flex-direction: row;
  justify-content: center;
  width: 96vw;
  margin: 2.6vh 1vw;
  height: 40vh;
  /* background-color: var(--background-color-3); */
}

.hobby {
  width: 25vh;
  height: 35vh;
  background-color: var(--background-color-2);
  margin: 2.6vh 1vw;
  align-content: center;
  text-align: center;
  justify-content: center;
  color: var(--text-color-1);
}

.hobby:hover {
  background-color: var(--background-color-3);
}

.hobby-img {
  width: 20vh;
  padding: 1vw;
}

.hobby-img:hover {
  width: 18vh;
  padding: 1vw;
}

.center {
  align-content: center;
  text-align: center;

  width: 80vw;
  height: 30vh;

  float: right;
}
